<section class="min-h-[100vh]">
  <div class="bg-orange-600 py-20 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl">
        CONTACT PAGE
      </h1>
      <p class="mt-6 max-w-3xl mx-auto text-lg text-orange-100">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat.
      </p>
    </div>
  </div>
</section>
